body{
    color: blue;
    text-align: center;
    font-family: "Arial";
}

.container{
    border: 1px solid black;
   

}

#cabecera{
    background: blueviolet;
    color: white;
    font-size: large;
}