body{
    color: black;
    text-align: center;
    font-family: "Courier";
}

.container{
    border: 1px solid black;
   color: blueviolet;

}

#cabecera{
    background: blueviolet;
    color: white;
    font-size: large;
}